APP_NAME=Storage AI Web
APP_ENV=prod
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost/storage_ai
UPLOAD_DIR=upload
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin1234
ADMIN_FULL_NAME=Baobab Administrator
HOST=0.0.0.0
PORT=8000
